.menuStyle { 
    position: absolute;
    left: 54.8em;
    top: 3em;
    display: flex;
}


.pictureStyle{
    width: 86.3em;
    height: 44em; 
    object-fit: cover;
}

.logoStyle{
    position: absolute;
    width: 5.1em;
    height: 4.11em;
    left: 4.96em;
    top: 3.026em;
}

.rightLine{

    position: absolute;

    width: 0.2em;
    height: 100vh;
    left: 90.8em;
    top: 3em;
    background-color: black;
}


.imjLine{

    position: absolute;

    width: 0.2em;

    height: 17.75em;
    left: 41.3em;
    top: 12.4em;

    background-color: white;

}


.secongText{

    position: absolute;

    width: 37em;
    height: 7.7em;
    left: 5.5em;
    top: 21.1em;
    
    font-weight: 400;
    font-size: 0.9em;
    line-height: 2.2em;
    
    display: flex;
    align-items: center;
    
    color: white;

}
