.buttonStyle { 
    width: 240px;
    height: 45px;
    background-color:  #A1CF6B;
    font-size: 1em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 700;
}

.mainStyles{
    width: 240px;
    height: 45px;
    float:right;
    
}


