.buttonStyle { 
    height: 2.25em;
    width: 12em;
    background-color:  #A1CF6B;

    font-size: 1em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 700;
}

.mainStyles{
    float:left;
}


