.buttonStyle { 
    height: 2.25em;
    width: 12em;
    background-color:  #A1CF6B;

    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: 700;

}

.mainStyles{
    display: inline-block;  
}


