.menuStyle { 
    position: absolute;
    right:5%;
    top: 5%;
    display: flex;
    max-width: 68%;

}

.rightLine{
    position: absolute;
    width: 0.2em;
    height: 100vh;
    right: 5%;
    top: 5%;
    background-color: black;
}

.firstViewportText{
    position: absolute;
    left: 5vw;
    top: 27vh;
}

.mainText{
    height: 1.629em;
    width: 700px;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    color:white;
}


.secongText{
    width: 37em;
    height: 7.7em;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 2.2em;
    display: flex;
    align-items: center;
    color: white;

}

.pictureStyle{
    width: 90.625%;
    height: 83.3%; 
    object-fit: cover;
}

.logoStyle{
    position: absolute;
    width: 6,4em;
    left: 5vw;
    top: 7vh;
    max-width: 20vh;
}


.imjLine{
    position: absolute;
    display:  flex;
    width: 0.6%;
    height: 145%;
    left: 105%;
    top: -5%;
    max-height: 50vh;
    background-color: white;

}
